@model Course2.Models.Employee



@{
    ViewData["Title"] = "Szakmai videó";



   
    async Task UpdateWatchVideo()
    {
       
    }

}

<div class="text-center" style="background: linear-gradient(to top, #009999 0%, #00ffff 100%) ">
    <h1 class="display-4">Oktató videók</h1>
    <p>Professzionális szakmai tartalmak</p>
</div>

<br>

@if (ViewBag.SuccessLogInEmp != null)
{
    <div class="LogInIcon" style="padding-bottom: 0">
        <i class="fa fa-male" style="color: #009999; margin-bottom: 20px"> Üdvözöllek  @ViewBag.SuccessLogInEmp</i>
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (ViewBag.FailedLogIn == true)
            {
                <div class="alert alert-danger">@ViewBag.FailedMessage</div>
            }
            <div class="form-group">
                <label asp-for="EmployeeName" class="control-label"></label>
                <input asp-for="EmployeeName" class="form-control" style="opacity: 0.8" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeEmail" class="control-label"></label>
                <input asp-for="EmployeeEmail" class="form-control" style="opacity: 0.8" />
                <span asp-validation-for="EmployeeEmail" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Belépés" class="btn" style="background: linear-gradient(to bottom, #009999 0%, #33cccc 100%)" />
            </div>
        </form>
    </div>
</div>

<br />
<hr />
<hr />

@if (ViewBag.videos != null)
{
    <div class="VideoList">
        <table class="table">
            <tr>
                <th>
                    Video
                </th>
                <th>
                    Megtekintés
                </th>
                <th style="min-width: 110px">
                    Lejátszás
                </th>
            </tr>


            @foreach (var video in ViewBag.videos)
            {

                <tr class="videolist">
                    <td>
                       @video.VideoName
                    </td>
                    <td>
                        @if (video.WatchDate != null){
                            <i class="fa fa-check-square" style="color: #009999; margin-bottom: 20px"> @video.WatchDate.ToString("yyyy.MM.dd. HH:mm")</i>
                        }
                       
                    </td>
                    <td>
                        <div class="videoIcon">
                            <a id="WatchVideoPost" onclick='return check()' href="@video.VideoURL" target="_blank"><img src="~/lib/play.png" alt="Play" width="25" height="25"></a>
                        </div>
                    </td>
                </tr>
              
            }
        </table>
    </div>
}


@*https://www.c-sharpcorner.com/forums/how-to-call-on-click-event-in-mvc-5

(ajax post  mvc-ben   olvasd el)

  - onclick -> js 
  - ajax hívás controller.action (video, epmloyee)

  - redirect -> videoURL oldalra

  $("#button1").click(function()
    {
        alert("Click Event Using Jquery");

        // do other stuff as per your requirement
    }
    );

    // Also can create click event like this

    $("#button1").on("click" , function()
    {
        alert("Click Event Using Jquery");

        // do other stuff as per your requirement
    }
    );

    https://www.c-sharpcorner.com/forums/how-to-call-on-click-event-in-mvc-5
    https://stackoverflow.com/questions/4120212/mvc-ajax-json-post-to-controller-action-method
    https://stackoverflow.com/questions/7347786/html-anchor-tag-with-javascript-onclick-event
    https://stackoverflow.com/questions/1549324/redirect-to-external-uri-from-asp-net-mvc-controller

    [16:33]
@Html.ActionLink("linkText", "Action", new {controller="ControllerName"}, new {target="_blank"})



*@

@section Scripts {
    
    <script>
       
        var videoData = "szöveg";

      $("#WatchVideoPost").on("click" , function()
    {
            console.log("WatchVideoPost click");
        $.ajax({
            type: "POST",
            url:  "@Url.Action("CreateLog")",
            dataType: "JSON",
            data: {videoData: videoData},
            success: function(result){
                console.log(result);
            },
            error: function(req, status, error){
                console.log(status)
            }
        });

            
        // do other stuff as per your requirement
    });

    function check()
    {
            console.log("WatchVideoPost click2");

            var requestData = {
                VideoId: 1
            };

            $.ajax({
                url: "@(Url.Action("CreateLog", "Home"))",
                type: 'POST',
                data: JSON.stringify(requestData),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                error: function (xhr) {
                    console.log("WatchVideoPost click err", xhr);
                },
                success: function (result) {
                    console.log("WatchVideoPost click success", result);
                },
                async: true,
                processData: false
            });


    }

    </script>

    }


   @* 
      
      $("#WatchVideoPost").on("click" , function()
    {
        alert("Click Event Using Jquery");

        // do other stuff as per your requirement
    }
    );


        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }*@
    
